html {
	background: url(hipster.jpg) no-repeat center center fixed; 
    background-size: cover;
}
body {
	font-family: Avenir, "Century Gothic";
	text-align: center;
}
header{
	color: black;
	font-size: 40px;
}
img {
	height=470;
	width=200;
	border: 2px solid white;
	border-radius: 5px;
}

a {
	text-decoration: none;
}

a.headText {
	color:black;
}

a.headText:visited {
	color: black;
}

.headText:hover {
	color:black;
}

.links {
	color: black;
	font-size: 20px;
	text-decoration: none;
	margin:0 15px;
}
.links:hover {
	color:black;
}
.links:active {
	color:black;
}
.links:link {
	color:black;
}

p {
	background-color: rgba(255,255,255,0.55);
	border-radius: 4px;
	text-align: left;
	margin:0 90px;
	color: black;
}
h1 {
	background-color: rgba(255,255,255,0.55);
	border-radius: 4px;
	text-align: left;
	margin:0 90px;
	font-size: 30px;
}
h2 {
	background-color: rgba(255,255,255,0.55);
	border-radius: 4px;
	text-align: left;
	margin:0 90px;
	font-size: 20px;
}
#resume {
	position: absolute;
	left: 250px;
	background-color: rgba(255,255,255,0.55);
	border-radius: 4px;
	text-align: left;
	margin:0 90px;
	padding-top:15px;
	padding-bottom:5px;
	padding-right:50px;
	padding-left:50px;
}
#bio {
	position: absolute;
	left: 254px;
	background-color: rgba(255,255,255,0.55);
	border-radius: 4px;
	margin:0 90px;
	padding-top:15px;
	padding-bottom:15px;
	padding-right:50px;
	padding-left:50px;
}

#Text{
	padding: 10px 30px;
}
#email{
	color: black;
}
p.sections {
	font-weight: bold;
	text-align: left;
	margin-bottom: -12px;
}
#image{
	position:absolute;
	left: 100px;
}